body{
    margin: 0px;
    font-family: "Century Gothic";
    background: url("/images/background.png");
}

.header{
    border-bottom: 1px #000000 solid;
}

.header__logo{
    width: 150px;
    height: 40px;
    margin: 40px 750px 50px 40px;
    display: inline-block;
}

.header__nav{
    display: inline-block;
}

.header__nav-el:visited{
    color: #000;
}

.header__nav-el{
    text-decoration: none;
    font-size: 20px;
    margin-right: 70px;
    padding: 2px 8px 7px 8px;
    border-bottom: 2px #FE5E41 solid;
}

.header__nav-el:hover{
    border: 2px #FE5E41 solid;
}

.header__nav-el:last-child{
    margin-right: 0;
}