body{
    margin: 0px;
    font-family: "Century Gothic";
    background: url("/images/background.png");
}

.header{
    border-bottom: 1px #000000 solid;
    margin-bottom: 17px;
}

.header__logo{
    width: 150px;
    height: 40px;
    margin: 40px 750px 50px 40px;
    display: inline-block;
}

.header__nav{
    display: inline-block;
}

.header__nav-el:visited{
    color: #000;
}

.header__nav-el{
    text-decoration: none;
    font-size: 20px;
    margin-right: 70px;
    padding: 2px 8px 7px 8px;
}

.header__nav-el:hover{
    border-bottom: 2px #FE5E41 solid;
    transition-duration: 0.5s;
}

.header__nav-el:last-child{
    margin-right: 0;
}

.content{
    margin: 0px 515px;
}

.adder__text{
    font-size: 15px;
    border-radius: 15px;
    width: 270px;
    height: 30px;
    padding-left: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    border:1px solid #000000;
}

.adder__text:focus{
    outline: 0;
}

.adder__intro{
    margin-bottom: 10px;
    font-size: 25px;
}

.adder__submit{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}